<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<div class="container">
  <button class="social-btn btn-success">
      <%= link_to "My Social Media: Facebook", "https://www.facebook.com", class: "social-btn" %>
  </button>
  

  <button class="social-btn btn-success">
      <%= link_to "My Social Media: Instagram", "https://www.instagram.com", class: "social-btn" %>
  </button>



  <button class="social-btn btn-success">
      <%= link_to "My Social Media: Twitter", "https://www.twitter.com", class: "social-btn" %>
  </button>



  <button class="social-btn btn-success">
      <%= link_to "My Social Media: Github", "https://www.twitter.com", class: "social-btn" %>
  </button>

</div>
