
 <h1>All Posts</h1>
 
<% @posts.each do |post| %>
   <p><%= link_to post.title, post_path(post.id) %></p>
 <% end %>


<!-- we iterate over each post in @posts. For each post we create a link with  post.title as the text that links to /posts/id, with the id from the post.id 
Instance variables created in a controller method are available in its associated view.  
Since we create and assign @posts in PostsController#index, we can use it in the posts index view.
-->